<link rel="stylesheet" href="personal-card.component.scss">

<!--<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-avatar>
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
      <ion-label>{{name}} {{surname | slice:0:1 | uppercase}}.</ion-label>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    
    <ion-card-title>Nombre</ion-card-title>
    <ion-card-subtitle>{{name}}</ion-card-subtitle>

    <ion-card-title>Apellido</ion-card-title>
    <ion-card-subtitle>{{surname}}</ion-card-subtitle>

    <ion-card-title>Edad</ion-card-title>
    <ion-card-subtitle>{{age}}</ion-card-subtitle>

    
  </ion-card-content>
</ion-card>-->

<ion-card href="/welcome">
  <ion-card-header>
    <ion-card-title>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
          </ion-col>
          <ion-col>
            <ion-text>{{name}} {{surname | slice:0:1 | uppercase}}.</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-input label="Nombre"  type="text" placeholder="Nombre" labelPlacement="floating" [value]="name" [readonly]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Apellido"  type="text" placeholder="Apellido" labelPlacement="floating" [value]="surname" [readonly]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Edad"  type="text" placeholder="Edad" labelPlacement="floating" [value]="age" [readonly]="true"></ion-input>
    </ion-item>
  </ion-card-content>
</ion-card>
