ion-card{
    min-width: 300px;
    max-width: 500px;
}

/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  ion-card {
    max-width: 350px;
    max-height: auto;
    padding: 16px;
    border-radius: 10px;
  }
  
  ion-card-title {
    display: flex;
    align-items: center;  
    font-size: 1.2em;
  }
  
  ion-avatar {
    width: 40px;
    height: 40px;
    margin-right: 10px;  
  }
  
  ion-label {
    display: flex;
    align-items: center;
    color: #4a90e2;
  }
  
  ion-card-content {
    ion-card-title {
      font-size: 0.9em;
      color: #fff;
      margin-top: 10px;
    }
  
    ion-card-subtitle {
      font-size: 1em;
      color: #bbb;
      margin-bottom: 10px;
      padding-left: 6px;
    }
  }*/
  