<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usuarios</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSubmit(nameInput, surnameInput, ageInput)" id="newUserForm">
    <ion-list>
      <ion-input label="Nombre" type="text" labelPlacement="floating" placeholder="Nombre" #nameInput></ion-input>
      <ion-input label="Apellido" type="text" labelPlacement="floating" placeholder="Apellido" #surnameInput></ion-input>
      <ion-input label="Edad" type="text" labelPlacement="floating" placeholder="Edad" #ageInput></ion-input>
      <ion-button type="submit">Enviar</ion-button>
    </ion-list>
  </form>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let u of users">
        <app-personal-card [name]="u.name" [surname]="u.surname" [age]="u.age"></app-personal-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
